@import '../../../assets/mixins.scss';
@import '../../UI/variables.scss';

.header {
  background-color: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 0;
  }

  .logo {
    margin-left: 50px;
    width: 40px;
    @include respond(big-tablets) {
      margin-left: 25px;
    }

    img {
      width: 44px;
    }
  }

  .header-menuLink {
    @extend %caption3;
    color: $primary1;
    margin: 0 5px;
    @include respond(IPad) {
      display: none;
    }

    &:hover {
      text-decoration: underline;
      color: $primary3;
    }

    &-menuLinkactive {
      color: $primary3;
    }
  }

  .phone {
    @extend %caption3;
    @include respond(big-tablets) {
      display: none;
    }
  }

  .header-phone {
    color: $primary1;
    margin-right: 30px;
  }

  .cart:hover {
    cursor: pointer;
  }

  .ant-badge-count {
    background-color: $primary1;
    box-shadow: none;
    line-height: 17px;
    margin-top: 5px;
    margin-right: 4px;
  }

  .header-divider {
    width: 1px;
    height: 24px;
    background-color: #f2f2f2;
    border: #f2f2f2;
    @include respond(big-tablets) {
      display: none;
    }
  }

  .logoText {
    text-transform: uppercase;
  }

  .logoText1 {
    color: $primary1;
  }

  .logoText2 {
    color: #ae924e;
  }

  .ant-typography {
    margin-bottom: 0;
  }

  .ant-menu-horizontal {
    border-bottom: none;
    padding-right: 25px;
  }

  .ant-menu-submenu {
    padding-left: 10px;
  }

  .locationIcon {
    &::before {
      content: '';
      width: 25px;
      height: 25px;
      display: inline-block;
      position: relative;
      top: 12px;
      left: 7px;
      background-image: url('../../../assets/icons/location.svg');
      background-repeat: no-repeat;
    }
  }

  .locationIconActive,
  .locationIcon:hover {
    &::before {
      content: '';
      width: 25px;
      height: 25px;
      display: inline-block;
      position: relative;
      top: 12px;
      left: 7px;
      background-image: url('../../../assets/icons/locationActiv.svg');
      background-repeat: no-repeat;
    }
  }
}
